<%include header.html %>
    <li class="active">首页</li>
    <li>
        <a href="/article">博文</a>
    </li>
    <!-- <li>
        <a href="#">相册</a>
    </li>
    <li>
        <a href="#">杂记</a>
    </li> -->
    <li>
        <a href="/mess">留言板</a>
    </li>
    <!-- <li>
        <a href="#">关于我</a>
    </li> -->
    </ol>
    </div>
    </div>
    <!--end of row-->
    </div>
    <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9 mb-xs-24">
                    <img src="/img/index-img.jpg" alt="">
                </div>
                <!-- 右侧导航栏 -->
                <%include rightcontent.html %>
            </div>
            <!--end of container row-->
        </div>
        <!--end of container-->
    </section>

    <%include footer.html %>